<div class="container">
    <br/>
    <h5>Info</h5>
    <p>
        Contact Form Using JavaMail JSP
        <br/><br/>
        In this article let us see about how to develop a contact form using Java, JavaMail API and JSP.
        <br/>The example we
        are going to develop will be a responsive form and can be tested using Google GMail SMTP. We have earlier learnt
        about how to send email using Java with Gmail SMTP and JavaMail […]
        <br/>
        Published to Java Tutorial on 17/03/2016.
    </p>
</div>